{% extends "layout.html" %}
​
{% block content %}
	
	<br><center><h3>Meet the Team</h3><br>
​
​
	<div class="container">
		<div class="row">
		   <!--First Column-->
		   <div class="col-lg-4">
				<div class="card" style="width: 18rem;">
					<img src="static/me.jpg" class="card-img-top" alt="...">
						<div class="card-body">
							<h5>Le Dao : MIS student </h5>
							<p class="card-text"><i>"Work Hard, Dream Big"</i></p>
						</div>
				</div>
			</div><br>
			
			<!--Second Column-->
			<div class="col-lg-4">
				<div class="card" style="width: 18rem;">
					<img src="static/michelle.jpg" class="card-img-top" alt="...">
						<div class="card-body">
						    <h5>Michelle : CS Student</h5>
							<p class="card-text"><i>"Live Laugh Love"</i></p>
						</div>
				</div>
			</div><br>
			
			<!--Third Column-->
			<div class="col-lg-4">
				<div class="card" style="width: 18rem;">
					<img src="static/nasly.png" class="card-img-top" alt="...">
						<div class="card-body">
						    <h5>Nasly : IT Student </h5>
							<p class="card-text"><i>"Do not be overcome by evil, but overcome evil with good."</i><br> Romans 12:21</p>
						</div>
				</div>
			</div><br>
			
			
		</div>
	</div><br>
	
​
​
​
​
	
{% endblock content %}